template for hvilke miljøvariabler som skal brukes. Kopier feltene under i en ".env.local" fil.

NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_PROJECT_ID="948n95rd"

SANITY_API_READ_TOKEN="DITT_READER_TOKEN"