.brevbygger {
  background-color: var(--a-surface-default);
  padding: 2rem;
  border: 1px solid var(--a-border-default);
}

.brev {
  background-color: var(--a-bg-default);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brevPersonalia {
  padding-inline-start: calc(2rem + 5px);
}

.heading,
.brevtittel {
  padding-left: calc(2rem + 5px);
}

.headerRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--a-spacing-1);
}

.editableContent {
  background-color: var(--a-bg-default);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--a-blue-200);
  padding: var(--a-spacing-4);
}
