.aap-brev-brevbygger {
  background-color: var(--a-surface-default);
  padding: 2rem;
  border: 1px solid var(--a-border-default);
  max-width: 210mm;
}

.aap-brev-brevbygger ul {
  margin-block: 0.5rem;
}

.aap-brev-brevbygger li p {
  padding-block: 0;
  margin-block: 0;
}

.aap-brev-brevbygger h1,
.aap-brev-brevbygger h2,
.aap-brev-brevbygger h3 {
  padding-left: calc(2rem + 5px);
}

.aap-brev-brev {
  background-color: var(--a-bg-default);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aap-brev-redigerbar-seksjon {
  display: flex;
  width: 200mm;
  justify-content: space-between;
}

.aap-brev-redigerbar-tekst {
  width: 95%;
  margin-left: 1.8rem;
  padding: 0.5rem 0 0.5rem 0;
}

.aap-brev-redigerbar-liste-tekst {
  width: 95%;
  margin-left: 1.8rem;
  padding: 0.5rem 0 0.5rem 0;
}

.aap-brev-ikke-redigerbar-tekst {
  width: 175mm;
  margin-left: 2.4rem;
}

.aap-brev-liste {
  margin-left: 2.5rem;
  list-style-type: disc;
  width: 100%;
}

.aap-brev-liste-element {
  width: 100%;
}

.aap-brev-redigerbart-listeelement {
  margin-right: 0.8rem;
}

.aap-brev-redigerbar-listeelement-tekst {
  margin-right: 1rem;
  width: 100%;
}

.aap-brev-rediger-knapp {
  margin: 0 0.25rem 0 0.3rem;
}

.aap-brev-personalia {
  padding-inline-start: calc(2rem + 5px);
}

.aap-brev-headerRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--a-spacing-1);
}

.aap-brev-editableContent {
  background-color: var(--a-bg-default);
}

.aap-brev-centerLoader {
  display: flex;
  justify-content: center;
}

.aap-brev-editor {
  width: 100%;
}

aap-brev-editor .tiptap {
  padding-inline: 2rem;
}

.aap-brev-editorContainer {
  display: flex;
  gap: var(--a-spacing-4);
  padding-left: calc(2rem + 5px);
}

.aap-brev-editorContent {
  padding-block: 0.5rem;
  width: 100%;
  padding-right: calc(0.5rem + 5px);
  border: 2px solid;
  border-color: var(--a-border-subtle);
}

.aap-brev-redigerIkon {
  width: 1.5rem;
  padding-block: 0.5rem;
}

/* Bytter margin med padding i tiptap paragrafer for å gjøre hele elementet klikkbart */
.aap-brev-editorContent p {
  margin-block: 0;
  padding-block: 1rem;
}

.aap-brev-editorContent .ProseMirror-focused {
  outline: none;
}

.aap-brev-editorContent:focus-within {
  box-shadow: var(--a-shadow-focus);
  border-color: transparent;
}

.aap-brev-disabledEditor {
  padding-inline: 5px;
}

.aap-brev-boblemeny {
  background-color: var(--a-bg-default);
  box-shadow: 0 0 5px hsla(0deg, 0%, 0%, 0.8);
  border: 1px solid var(--a-border-subtle);
}

.aap-brev-boblemeny-active {
  background: var(--a-surface-neutral-subtle-hover);
}

.aap-brev-boblemeny-underline {
  text-decoration: underline;
}

.aap-brev-toolbar-toolbarbutton {
  padding: 0.5rem;
  font-family: Monospaced, serif;
  border: none;
}

.aap-brev-toolbar-toolbarbutton-active {
  background: var(--a-surface-neutral-subtle-hover);
}

.aap-brev-toolbar {
  display: flex;
  gap: 0.25rem;
  background-color: var(--a-bg-subtle);
  padding: 0.25rem;
  border: 2px solid var(--a-border-strong);
  border-bottom: transparent;
}

.aap-brev-toolbar-icon {
  font-size: 1.5rem;
}

.aap-brev-signatur {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-24);
  margin-inline: calc(2rem + 5px);
}
