.editor {
  min-width: 50vw;
}

.centerLoader {
  display: flex;
  justify-content: center;
}

.editorContainer {
  display: flex;
  gap: var(--a-spacing-4);
}

.editorContent {
  padding-block: 0.5rem;
  width: 100%;
}

.editorContent:focus {
  border: 2px solid;
  border-color: var(--a-blue-800);
}

/* Bytter margin med padding i tiptap paragrafer for å gjøre hele elementet klikkbart */
.editorContent p {
  margin-block: 0;
  padding-block: 1rem;
}

.editorContent > .ProseMirror-focused {
  outline: none;
}

.editorContent:focus-within {
  box-shadow: var(--a-shadow-focus);
}

.disabledEditor {
  padding-inline: 5px;
}

.editor :global(.tiptap) {
  padding-inline: 2rem;
}

.table {
  border: 1px solid #000;
}

.table td {
  border: 1px dotted #000;
}
