.boblemeny {
  background-color: var(--a-bg-default);
  box-shadow: 0 0 5px hsla(0deg, 0%, 0%, 0.8);
  border: 1px solid var(--a-border-subtle);
}

.active {
  background: var(--a-surface-neutral-subtle-hover);
}

.underline {
  text-decoration: underline;
}
